@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    height: 95vh;
    background-image: linear-gradient(to bottom, #63d5f1, #fff);
}

h1 {
    text-align: center;
    color: #26111f;
}

.cont {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color: #8be3fe;
    color: #26111f;
    max-width: 500px;
}

.descricao {
    max-width: 190px;
    border-radius: 4px;
    border: none;
    padding: .15rem .5rem;
}

.btnAdd {
    margin: 20px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    background-color: #fff;
}

.list {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.done {
    text-decoration: line-through;
}